@import "prismjs/themes/prism.min.css";
@import "katex/dist/katex.min.css";
@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light-border.css";

@tailwind base;
@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, Helvetica, Arial, "Segoe UI", "Apple Color Emoji",
      "Segoe UI Emoji";
  }

  .prose h2,
  .prose h3 {
    @apply font-semibold text-gray-800;
  }

  a:not(.plain),
  .prose a:not(.plain) {
    @apply border-b border-b-blue-400 no-underline transition-all hover:border-b-blue-700 hover:text-blue-900;
  }

  .prose img {
    @apply mx-auto;
  }

  .prose blockquote {
    @apply border-l-sky-400 font-normal;
  }

  .prose aside {
    @apply font-serif;
  }

  .prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"] *))::after {
    content: "" !important;
  }

  .prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"] *))::before {
    content: "" !important;
  }
}

@tailwind components;
@tailwind utilities;

.tippy-box[data-theme~="light-border"] {
  @apply z-50 min-w-[400px] rounded-lg bg-white/90 pr-3 pl-2 pb-2 pt-1 text-sm leading-relaxed text-gray-800 shadow-lg shadow-blue-100/50 backdrop-blur transition-all hover:shadow-blue-100;
}
.tippy-box[data-theme~="light-border"][data-placement^="top"] > .tippy-arrow::after {
  @apply border-t-gray-300;
}
.tippy-box[data-theme~="light-border"][data-placement^="bottom"] > .tippy-arrow::after {
  @apply border-b-gray-300;
}
.tippy-box[data-theme~="light-border"][data-placement^="left"] > .tippy-arrow::after {
  @apply border-l-gray-300;
}
.tippy-box[data-theme~="light-border"][data-placement^="right"] > .tippy-arrow::after {
  @apply border-r-gray-300;
}
.tippy-content {
  @apply max-h-80 translate-x-2 overflow-y-auto -indent-2;
}
.tippy-content > div {
  @apply flex flex-col gap-y-3;
}

.prose figure > pre {
  @apply py-3;
}
